body {
  background-color: #639a67;
  padding: 20px;
  margin: 0;
}


h1, p, ul, li {
  font-family: roboto, sans-serif;
  
}

h2, nav {
  font-family: Cursive, Times, serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #8b725b;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #9a7f65;
}
